@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Host+Grotesk:ital,wght@0,300..800;1,300..800&display=swap");

.services-section {
  background-color: white;
  max-width: 1450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.services-header {
  /* background-color: red; */
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: end;
  flex-direction: column;
  padding-left: 15px;
  padding-right: 120px;
  padding-top: 55px;
  padding-bottom: 20px;
  width: 90%;
  /* border-bottom: 1px solid #000; */
}

.services-intro {
  display: flex;
  flex-direction: column;
  width: 650px;
  gap: 15px;
  /* border: 1px solid #000; */

  h2 {
    font-family: "Host Grotesk", sans-serif;
    font-size: 6rem;
    font-weight: bold;
    line-height: 1;
  }

  p {
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
  }
}

.accordion {
  width: 90%;
  padding-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.accordion-item {
  /* border-radius: 5px; */
  overflow: hidden;
  border-top: 1px solid #c8c8c8;
  padding: 10px;
  /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); */
}

.accordion-header {
  width: 100%;
  overflow: hidden;
  height: 45px;
  /* max-height: 0; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  text-align: left;
  padding: 2rem 1.5rem;
  font-size: 1.1rem;
  font-weight: bold;
  cursor: pointer;
  background: #ffffff;
  border: none;
  outline: none;
  transition: all 0.3s ease;
  /* border-bottom: 1px solid #ddd; */
  /* transition: background 0.3s; */

  .accordion-content-inner h3 {
    background-color: transparent;
    font-size: 1.2rem;
    transition: all 0.3s ease;
  }

  p {
    display: none;
  }

  ul {
    display: none;
  }

  .accordion-content-inner {
    img {
      display: none;
      transition: all 0.3s ease;
    }
  }

  .icon-close {
    display: none;
  }
}

.accordion-content-inner {
  flex: 1;
}

.accordion-content-img {
  flex: 1;
  z-index: 10;
}

.accordion-content-icons {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

/* .accordion-header:hover {
  background: #ebebeb;

  button {
    background-color: #ebebeb;
    color: #000;
  }
} */

.accordion-button {
  font-family: "Host Grotesk", sans-serif;
}

.accordion-content {
  overflow: hidden;
  max-height: 0;
  padding: 0 1.5rem;
  background-color: #fafafa;
  transition: max-height 0.4s ease, padding 0.3s ease;
}

.accordion-item.active .accordion-header {
  background: #ffffff;
  height: 400px;
  transition: all 1s ease;
  /* justify-content: end; */

  .accordion-content-inner h3 {
    background-color: white;
    font-size: 1.4rem;
    transition: all 0.3s ease;
  }

  h4 {
    font-size: 14px;
    font-weight: bold;
  }

  p {
    display: block;
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
    font-size: 13px;
  }

  ul {
    display: block;
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
  }

  .accordion-content-inner {
    display: flex;
    flex-direction: column;
    gap: 15px;
    /* border: 1px solid #ddd; */
    img {
      display: block;
    }
  }
}

.accordion-item.active .accordion-content {
  max-height: 1000px; /* Adjust this value based on your content */
  padding: 1rem 1.5rem;
}

.accordion-item.active .accordion-header .icon {
  display: none;
}
.accordion-item.active .accordion-header .icon-close {
  display: block;
}

.accordion-content p {
  margin: 0;
}

.accordion-content-inner {
  background-color: rgb(255, 255, 255);
  padding-right: 50px;
  /* border: 1px solid #ddd; */

  h3 {
    font-family: "Host Grotesk", sans-serif;
    font-size: 2rem;
    font-weight: bold;
    line-height: 1;
  }

  ul {
    list-style: disc;
    padding-left: 1.5rem; /* Asegura espacio para los puntos */
  }

  img {
    width: 200px;
    cursor: pointer;
  }
}

.accordion-content-icons-general {
  display: none;
}

.accordion-item.active .accordion-content-icons-general {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 30px;
}

.accordion-content-icons-text {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-family: "DM Sans", sans-serif;
  font-weight: 600;
  font-size: 14px;
  padding-left: 30px;
}

@media (max-width: 1200px) {
  .services-section {
    width: 100%;
    padding: 0px 20px;
  }
  .services-header {
    background-color: red;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: end;
    flex-direction: column;
    padding-left: 50px;
    padding-right: 100px;
    padding-top: 55px;
    padding-bottom: 20px;
    width: 100%;
    /* border-bottom: 1px solid #000; */
  }

  .services-intro {
    display: flex;
    flex-direction: column;
    width: 650px;
    gap: 15px;
    /* border: 1px solid #000; */

    h2 {
      font-family: "Host Grotesk", sans-serif;
      font-size: 5rem;
      font-weight: bold;
      line-height: 1;
    }

    p {
      font-family: "DM Sans", sans-serif;
      font-weight: 400;
      font-size: 13px;
    }
  }

  .accordion {
    width: 90%;
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .accordion-item {
    /* border-radius: 5px; */
    overflow: hidden;
    border-top: 1px solid #c8c8c8;
    padding: 10px;
    /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); */
  }

  .accordion-header {
    width: 100%;
    overflow: hidden;
    height: 45px;
    /* max-height: 0; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    text-align: left;
    padding: 1rem 0.5rem;
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;
    background: #ffffff;
    border: none;
    outline: none;
    transition: all 0.3s ease;
    /* border-bottom: 1px solid #ddd; */
    /* transition: background 0.3s; */

    .accordion-content-inner h3 {
      background-color: transparent;
      font-size: 1.2rem;
      transition: all 0.3s ease;
    }

    p {
      display: none;
    }

    ul {
      display: none;
    }

    .accordion-content-inner {
      img {
        display: none;
        transition: all 0.3s ease;
      }
    }

    .icon-close {
      display: none;
    }
  }

  .accordion-content-inner {
    flex: 1;
  }

  .accordion-content-img {
    flex: 1;
    z-index: 10;
  }

  .accordion-content-icons {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: end;
  }

  /* .accordion-header:hover {
  background: #ebebeb;

  button {
    background-color: #ebebeb;
    color: #000;
  }
} */

  .accordion-button {
    font-family: "Host Grotesk", sans-serif;
  }

  .accordion-content {
    overflow: hidden;
    max-height: 0;
    padding: 0 1.5rem;
    background-color: #fafafa;
    transition: max-height 0.4s ease, padding 0.3s ease;
  }

  .accordion-item.active .accordion-header {
    background: #ffffff;
    height: 400px;
    transition: all 1s ease;
    /* justify-content: end; */

    .accordion-content-inner h3 {
      background-color: white;
      font-size: 1.4rem;
      transition: all 0.3s ease;
    }

    h4 {
      font-size: 12px;
      font-weight: bold;
    }

    p {
      display: block;
      font-family: "DM Sans", sans-serif;
      font-weight: 400;
      font-size: 10px;
    }

    ul {
      display: block;
      font-family: "DM Sans", sans-serif;
      font-weight: 400;
      font-size: 12px;
    }

    .accordion-content-inner {
      display: flex;
      flex-direction: column;
      gap: 15px;
      /* border: 1px solid #ddd; */
      img {
        display: block;
      }
    }
  }

  .accordion-item.active .accordion-content {
    max-height: 1000px; /* Adjust this value based on your content */
    padding: 1rem 1.5rem;
  }

  .accordion-item.active .accordion-header .icon {
    display: none;
  }
  .accordion-item.active .accordion-header .icon-close {
    display: block;
  }

  .accordion-content p {
    margin: 0;
  }

  .accordion-content-inner {
    background-color: rgb(255, 255, 255);
    padding-right: 50px;
    /* border: 1px solid #ddd; */

    h3 {
      font-family: "Host Grotesk", sans-serif;
      font-size: 2rem;
      font-weight: bold;
      line-height: 1;
    }

    ul {
      list-style: disc;
      padding-left: 1.5rem; /* Asegura espacio para los puntos */
    }

    img {
      width: 200px;
      cursor: pointer;
    }
  }

  .accordion-content-icons-general {
    display: none;
  }

  .accordion-item.active .accordion-content-icons-general {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 10px;
  }

  .accordion-content-icons-text {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-family: "DM Sans", sans-serif;
    font-weight: 600;
    font-size: 14px;
    padding-left: 30px;
  }
}
@media (max-width: 780px) {
}
