.custom-btn {
  position: relative;
  background-color: #ffffff;
  color: #000000;
  border: none;
  width: 185px;
  height: 45px;
  font-size: 12px;
  padding-left: 20px;
  display: inline-flex;
  align-items: center;
  gap: 0.6rem;
  cursor: pointer;
  font-family: sans-serif;
  overflow: visible;
  transition: all 0.3s ease;

  font-family: "DM Sans", sans-serif;
  font-weight: 600;
}

.custom-arrow {
  display: inline-block;
  font-size: 25px;
  transition: all 0.3s ease;
}

/* .custom-btn:hover .custom-arrow {
  font-size: 20px;
  font-weight: 700;
} */

.custom-corner {
  position: absolute;
  background-color: rgb(255, 255, 255);
  transition: opacity 0.3s ease;
  z-index: 100;
}

.custom-top {
  width: 195px;
  height: 0.5px;
  left: -5px;
  top: 0;
  transition: all 0.5s ease;
}

.custom-bottom {
  width: 195px;
  height: 1px;
  left: -5px;
  bottom: 0;
  transition: all 0.4s ease;
}

.custom-left {
  width: 1px;
  height: 55px;
  left: 0px;
  bottom: -5px;
  transition: all 0.5s ease;
}

.custom-right {
  width: 0.5px;
  height: 55px;
  right: 1px;
  bottom: -5px;
  transition: all 0.4s ease;
}

.custom-btn:hover .custom-top {
  width: 10px;
  left: 0px;
}

.custom-btn:hover .custom-bottom {
  width: 10px;
  left: 0px;
}

.custom-btn:hover .custom-left {
  height: 10px;
  bottom: 0px;
}

.custom-btn:hover .custom-right {
  height: 10px;
  bottom: 0px;
}
