  @import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cal+Sans&family=Days+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Saira+Stencil+One&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

  .header {
  background: #000;
  color: #fff;
  padding: 25px 0;
  position: relative;
}
.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.left-header {
  display: flex;
  align-items: center;
  gap: 10px;
}
.hover-wrapper {
  position: relative;
  width: 75px;
  height: 75px;
  overflow: hidden;
}
.hover-container {
  position: absolute;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 0.15s ease-out;
  border: 1px solid rgb(57, 57, 57);
  cursor: pointer;
}
.hover-text {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-28%, -50%);
  transition: transform 0.15s ease-out;
  font-size: 12px;
  font-weight: bold;
}
.containerLogo {
  display: flex;
  flex-direction: column;
}
.name-logo {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 2rem;
}
.texto-alternativo {
  font-size: 10px;
  margin-top: -8px;
}
.contact-info {
  display: flex;
  align-items: center;
  gap: 16px;
  
}
.contact-info .item {
  display: flex;
  align-items: center;
  gap: 8px;
}
.invertible-img {
  width: 32px;
  height: 32px;
  transition: filter 0.3s;
}
.invertible-img:hover {
  filter: invert(100%);
}
.container-request {
  display: flex;
  align-items: center;
}

/* --- Responsive: DA HASTA TABLET & MÓVIL --- */
@media (max-width: 1024px) {
  .container {
    flex-wrap: wrap;
  }
  .texto-alternativo {
    display: none;
  }
}
@media (max-width: 768px) {
  .contact-info {
    display: none;
  }
  .menu-mobile-button {
    display: block;
    cursor: pointer;
  }
}
@media (min-width: 769px) {
  .menu-mobile-button {
    display: none;
  }
}
.mobile-menu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: #111;
  padding: 16px;
  z-index: 20;
}
.mobile-menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.mobile-menu li {
  padding: 12px 0;
  border-bottom: 1px solid #333;
  text-align: center;
}
.mobile-menu li:last-child {
  border-bottom: none;
}
