  @import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cal+Sans&family=Days+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Saira+Stencil+One&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

  header {
    background-color: #000;
    color: #fff;
    padding: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1400px;
  }
  .boton-menu {
    background-color: #000;
    color: #fff;
    border: rgb(62, 62, 62) 0.5px solid;
    cursor: pointer;
    font-size: 0.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
  }

  /* .hover-container {
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #000000;
    overflow: hidden;
    cursor: pointer; 
    border: 1px solid rgb(57, 57, 57);
  }

  .hover-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 0.4s ease; 
    pointer-events: none; 
    font-size: 1.5rem;
    color: #ffffff;
    font-size: 12px;
    background-color: rgb(0, 0, 0);
    font-family: "DM Sans", sans-serif;
    
  } */


  .hover-wrapper {
  position: relative;
  width: 75px;
  height: 75px;
  overflow: hidden; /* evita que se salga */
}

.hover-container {
  position: absolute;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 0.15s ease-out;
  border: 1px solid rgb(57, 57, 57);
  cursor: pointer;
}

.hover-text {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-28%, -50%);
  transition: transform 0.15s ease-out;
  font-size: 12px;
  font-weight: bold;
}

  .boton-menu:hover {
    background-color: #333;
  }

  .containerLogo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin: auto;
    padding-top: 15px;
  }

  .name-logo {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;
  }

  .texto-alternativo {
    display: block;
    font-size: 10px;
    margin-top: -15px;
  }

  .contact-info {
    img {
      width: 40px;
      height: 40px;
      border-radius: 50%;
    }

    p {
      font-size: 0.8rem;
      font-family: "DM Sans", sans-serif;
    }
  }

  .container-request {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 243px;
    height: 50px;

    a {
      color: #000;
      font-size: 16px;
      font-family: "DM Sans", sans-serif;
    }
  }

  .invertible-img {
    transition: filter 0.3s ease;
  }

  .invertible-img:hover {
    filter: invert(100%);
  }