.header-container {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 25px;
  padding-bottom: 10px;
  background-color: rgba(0, 0, 0, 0.01);
  color: #fff;
  flex-direction: column;
}

.header-top-bar {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  width: 100%;
  padding: 10px;
  padding-bottom: 20px;
  border-bottom: #ffffff solid 0.5px;

  .contact-info {
    display: flex;
    align-items: center;
    gap: 10px;

    img {
      width: 40px;
      height: 40px;
      border-radius: 50%;
    }

    p {
      font-size: 0.8rem;
      font-family: "DM Sans", sans-serif;
      color: #fff;
    }
  }
}

.header-bottom-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px;
  /* background-color: red; */

  .logo-text {
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;

    h1 {
      font-family: "Bebas Neue", sans-serif;
      font-weight: 400;
      font-style: normal;
      font-size: 2rem;
      color: #fff;
    }

    p {
      display: block;
      font-size: 10px;
      margin-top: -15px;
      color: #fff;
    }
  }

  .container-request {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 283px;
    height: 50px;

    a {
      color: #fff;
      font-size: 16px;
      font-family: "DM Sans", sans-serif;
    }
  }
}

.header-bottom-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.main-nav {
  width: 90%;
  /* background-color: #000; */
  /* padding-right: 250px; */
  /* background-color: blue; */
  height: 40px;
  padding-left: 50px;
  display: flex;
  justify-content: start;
}

.main-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: end;
  align-content: end;
  justify-content: start;
  gap: 30px; /* Espacio entre los elementos de navegación */
  /* background-color: red; */
  height: 100%;
}

.main-nav li a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.95em;
  padding-bottom: 5px; /* Para el subrayado */
  transition: color 0.3s ease, border-bottom 0.3s ease;
  font-family: "DM Sans", sans-serif;
}
