.boton-footer-btn {
    position: relative;
    background-color: #ffffff;
    color: #000000;
    border: none;
    width: 205px;
    height: 45px;
    font-size: 12px;
    padding-left: 20px;
    display: inline-flex;
    align-items: center;
    gap: 0.6rem;
    cursor: pointer;
    font-family: "DM Sans", sans-serif;
    font-weight: 600;
    overflow: visible;
    transition: all 0.3s ease;
}

.boton-footer-arrow {
    display: inline-block;
    font-size: 25px;
    transition: all 0.3s ease;
}

/* .boton-footer-btn:hover .boton-footer-arrow {
    font-size: 20px;
    font-weight: 700;
} */

.boton-footer-corner {
    position: absolute;
    background-color: rgb(255, 255, 255);
    transition: opacity 0.3s ease;
    z-index: 100;
}

.boton-footer-top {
    width: 215px;
    height: 0.5px;
    left: -5px;
    top: 0;
    transition: all 0.5s ease;
}

.boton-footer-bottom {
     width: 215px;
    height: 1px;
    left: -5px;
    bottom: 0;
    transition: all 0.4s ease;
}

.boton-footer-left {
    width: 1px;
    height: 55px;
    left: 0px;
    bottom: -5px;
    transition: all 0.5s ease;
}

.boton-footer-right {
    width: 0.5px;
    height: 55px;
    right: 1px;
    bottom: -5px;
    transition: all 0.4s ease;
}

.boton-footer-btn:hover .boton-footer-top {
    width: 10px;
    left: 0px;
}

.boton-footer-btn:hover .boton-footer-bottom {
    width: 10px;
    left: 0px;
}

.boton-footer-btn:hover .boton-footer-left {
    height: 10px;
    bottom: 0px;
}

.boton-footer-btn:hover .boton-footer-right {
    height: 10px;
    bottom: 0px;
}
